body{
    display: flex;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
    align-items: center;
}

img{
    max-width: 400px;
}

.card{
    background-color: hsl(210, 50%, 16%);
    box-shadow: 0 8px 5px hsl(250, 54%, 11%);;
}

.icons{
    color: aqua;
}

.avatar-img{
    max-width: 66px;
}

.avatar{
border: 1px;
}